$main-color: #FDF7FF;
$pure-white: #fffefe;
$violet: #9867c5 ;
$violet-darker: #60348c;
$cream: #fefedf;
$black: #000000;
$grey: #bababa;
$darker-grey : #6e6e6e;

$light-grey-gradient: linear-gradient(45deg, rgba(170, 170, 170, 0.75), rgba(122, 122, 122, 0.75));
$light-violet-gradient: linear-gradient(45deg, rgba(152, 103, 197, 0.75), rgba(162, 108, 213, 0.75));
$dark-violet-gradient: linear-gradient(45deg, rgba(96, 52, 140, 0.75), rgba(76, 39, 112, 0.75));
$cream-gradient: linear-gradient(45deg, rgba(254, 254, 223, 0.75), rgba(236, 236, 207, 0.75));
