@mixin heroImages($bgImg){
    background-image: $light-grey-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin navLinkAnimation{
    color: $darker-grey;
    transform: scale(1.1);
}