@import './colors.scss';
@import './mixins';


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// font-family: 'Cormorant Infant', serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: $main-color;
}
.sticky-body{
    overflow: hidden;
}
//**********************
// navigation
//**********************

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 30px;
		height: 40px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-color: $pure-white;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
		&::after {
			top: 13px;
			width: 60%;
		}
	}
}

//navigation mobile

.nav__mobile {
	position: fixed;
	top: 0;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
    transform: translateX(100%);
    transition: transform .3s;
    background-color: $violet;
    z-index: 500;

    &--active {
		transform: translateX(0);
	}

    &-link{
        display: block;
        padding: .5em;
        font-size: 4rem;
        color: $pure-white;
        text-decoration: none;
    }


    
}

//navigation desktop

.nav__desktop {
	display: none;
}

//**********************
// Header
//**********************

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/header-hero-small.jpeg');
	background-attachment: scroll;
	z-index: -5;

	&__title {
		font-size: 8rem;
	}
	&__line {
		width: 75%;
		height: 4px;
		background-color: $pure-white;
		border: none;
	}
	&__text {
		font-size: 3.8rem;
	}
}

//**********************
// about
//**********************
.about{
    padding: 2em;
    margin-top: 5em;

    &__box{
        position: relative;
    }

    &__heading {
        position: absolute;
        top: -20px;
        left: -20px;
        padding: 1em;
        font-size: 2.8rem;
        color: $pure-white;
        background-color: $darker-grey;
        border-radius: 20px;
    }

    &__text-box{
        padding: 5em 1em 1em;
        background-color: $grey;
        border-radius: 20px;
    } 
    &__text-heading{
        padding: 1em;
        margin-bottom: 1em;
        font-size: 3.6rem;
        font-weight: bold;
        text-align: center;
        background-color: $violet;
        border-radius: 20px;
        i{
            font-size: 4.6rem;
        }
    }
    
    &__text{
        font-size: 2.4rem;
        // text-align: center;

        p{
            padding: 0.5em;
        }

        &-paragraph-second{
            margin-top: 1em;
            margin-bottom: 1em;
        }


        &-paragraph-second, &-paragraph-third{
            color: $pure-white;
            background-color: $darker-grey;
            border-radius: 20px;
            box-shadow: 2px 0 10px $darker-grey;
        }

        &-paragraph-first, &-paragraph-fourth, &-paragraph-fifth, &-paragraph-sixth{
            font-size: 2.8rem;
            text-align: center;
        }
    }

    &__text-link{
        color: $violet;
        font-size: 2.4rem;
        font-weight: bold;
        text-decoration: none;
    }

}



//**********************
// FOOTER
//**********************
footer{
    padding: 1em 1em;
    width: 100%;
    text-align: center;
    background-color: $darker-grey;
}


@import './small';
@import './medium';
@import './large';